*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    background-color: #e2e5e8;
    background-image: linear-gradient(98deg,#e2e5e8 0%,#ffffff 100%);
}
.navcontainer{
    width: 100vw;
    background-color: #0093e9;
    background-image: linear-gradient(160deg,#0093e9 0% , #808080 100%);
    /* background-color: rgba(113, 113, 154, 0.776); */
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2rem;
}
#navlist{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style-type: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
#navtext{
    font-size: 2.8rem;
    color: white;
}
#navitems{
    display: flex;
    gap: 40px;
   
}
a{
    text-decoration: none;
     color: white;
}
.footerbox{
     background-color: #0093e9;
    background-image: linear-gradient(160deg,#0093e9 0% , #808080 100%);
    
    width: 100%;
    text-align: center;
    min-height: 40px;
}
.footerbox p{
    font-size: 2rem;
    color: azure;
}
.contentbox{
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;

}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox img{
    height: 400px;
    border-radius: 15px;
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftbox h2{
    font-size: 2rem;
}
.ingbox{
    font-size: 1.3rem;
}
.recbox{
    font-size: 1.1rem;
}