*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: rgb(59, 55, 55);
    height: 100%;
    width: 100%;
    display: grid;
    padding: 4rem;
    row-gap: 1rem; 
    column-gap: 1rem;
    /* grid-template-rows: 100px 100px; */
    grid-template-rows: repeat(4,1fr);
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(3,1fr);
    color: white;
    font-size: 2rem;
    
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;

}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}
.item{
    background-color: #461694;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}